@using System.Drawing;
@using LazZiya.ImageResize;
@using Microsoft.AspNetCore.Hosting;
@model DataAccessLayer.ViewModel.ProductForIndexPage
@inject IHostingEnvironment _env;
<!-- Slide1 -->
<section class="slide1">
    <div class="wrap-slick1">
        <div class="slick1">

            @foreach (var item in Model.products.Take(5))
            {
                var filePic = item.ProductPictures.Where(x => x.DefaultPicture == true).ToList().FirstOrDefault()?.Name;
                var fileName = item?.EnglishName;
                <div class="item-slick1 item1-slick1" style="background-image: url(/ProductImage/@filePic);">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">


                        <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                            @fileName
                        </h2>

                        <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                            <!-- Button -->
                            <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2  hov1 trans-0-4" style="background-color:#fff">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            }

            @*<div class="item-slick1 item2-slick1" style="background-image: url(/ProductImage/f9402360-261c-46a9-afc9-23f2cedcc68d_photo.jfif);">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                        <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
                            Women Collection 2018
                        </span>

                        <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                            New arrivals
                        </h2>

                        <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
                             Button
                            <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>*@

            @*<div class="item-slick1 item3-slick1" style="background-image: url(/templete/images/master-slide-04.jpg)">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                        <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                            Women Collection 2018
                        </span>

                        <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                            New arrivals
                        </h2>

                        <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
                             Button
                            <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
</section>



<!-- New Product -->
<section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Featured Products
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                @foreach (var item in Model.products)
                {

                    <div class="item-slick2 p-l-15 p-r-15">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">



                                @{

                                    var file = item.ProductPictures.Where(x => x.DefaultPicture == true).ToList().FirstOrDefault().Name;
                                    var newFile = $"720_920_{file}";
                                    if (file != null && !System.IO.File.Exists($"{_env.WebRootPath.ToString()}\\newProductImage\\{newFile}"))
                                    {
                                        ImageResize.ScaleAndCrop(Image.FromFile($@"{_env.WebRootPath.ToString()}\ProductImage\{file}"), 720, 960, TargetSpot.Center)
                                            .Save($"{_env.WebRootPath.ToString()}\\newProductImage\\{newFile}");
                                    }
                                }
                                <img src="~/newProductImage/@newFile" alt="IMG-PRODUCT">

                                <div class="block2-overlay trans-0-4">
                                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                    </a>

                                    <div class="block2-btn-addcart w-size1 trans-0-4">
                                        <!-- Button -->
                                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="block2-txt p-t-20">
                                <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                    @item.EnglishName
                                </a>

                                <span class="block2-price m-text6 p-r-5">
                                    $@item.Price
                                </span>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</section>

<!-- Banner2 -->
<section class="banner2 bg5 p-t-55 p-b-55">
    <div class="container">
        <div class="row">


            @{

                var random = new Random();
                int width = 720;
                int height = 539;
                var obj = new DataBaseLayer.Models.Product();
                if (Model.products.Count > 0) {
                    obj= Model.products[random.Next(Model.products.Count()) == 0 ? 0 : random.Next(Model.products.Count())];
                }   
                var file2 = obj.ProductPictures.Where(x => x.DefaultPicture == true).ToList().FirstOrDefault().Name;
                var newFile2 = $"{width}_{height}_{file2}";
                if (file2 != null && !System.IO.File.Exists($"{_env.WebRootPath.ToString()}\\newProductImage\\{newFile2}"))
                {
                    ImageResize.ScaleAndCrop(Image.FromFile($@"{_env.WebRootPath.ToString()}\ProductImage\{file2}"), width, height, TargetSpot.Center)
                        .Save($"{_env.WebRootPath.ToString()}\\newProductImage\\{newFile2}");
                }


                <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
                    <div class="hov-img-zoom pos-relative">
                        <img src="~/newProductImage/@newFile2" alt="IMG-BANNER">

                        <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
                            <span class="m-text9 p-t-45 fs-20-sm">
                                The Beauty
                            </span>

                            <h3 class="l-text1 fs-35-sm">
                                @obj.EnglishName
                            </h3>

                            <a href="#" class="s-text4 hov2 p-t-20 ">
                                $@obj.Price
                            </a>
                        </div>
                    </div>
                </div>
            }

            @{

                var random3 = new Random();
                int width3 = 720;
                int height3 = 539;
                var obj3 = Model.products[random3.Next(Model.products.Count()) == 0 ? 0 : random3.Next(Model.products.Count())];
                var file3 = obj3.ProductPictures.Where(x => x.DefaultPicture == true).ToList().FirstOrDefault().Name;
                var newFile3 = $"{width3}_{height3}_{file3}";
                if (file2 != null && !System.IO.File.Exists($"{_env.WebRootPath.ToString()}\\newProductImage\\{newFile3}"))
                {
                    ImageResize.ScaleAndCrop(Image.FromFile($@"{_env.WebRootPath.ToString()}\ProductImage\{file3}"), width3, height3, TargetSpot.Center)
                        .Save($"{_env.WebRootPath.ToString()}\\newProductImage\\{newFile3}");
                }


                <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
                    <div class="hov-img-zoom pos-relative">
                        <a href="/Home/ProductDetails/@obj3.Id>
                            <img src="~/newProductImage/@newFile3" alt="IMG-BANNER">
                        </a>

                        <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
                            <span class="m-text9 p-t-45 fs-20-sm">
                                The Beauty
                            </span>

                            <h3 class="l-text1 fs-35-sm">
                                @obj3.EnglishName
                            </h3>

                            <a href="#" class="s-text4 hov2 p-t-20 ">
                                $@obj3.Price
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>


<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
        <div class="sec-title p-b-52">
            <h3 class="m-text5 t-center">
                Other Products
            </h3>
        </div>

        <div class="row">


            @for (int i = 0; i < 6; i++)
            {

                var random4 = new Random();
                int width4 = 720;
                int height4 = 539;
                var obj4 = Model.products[random4.Next(Model.products.Count()) == 0 ? 0 : random4.Next(Model.products.Count())];
                var file4 = obj4.ProductPictures.Where(x => x.DefaultPicture == true).ToList().FirstOrDefault().Name;
                var newFile4 = $"{width4}_{height4}_{file4}";
                if (file2 != null && !System.IO.File.Exists($"{_env.WebRootPath.ToString()}\\newProductImage\\{newFile4}"))
                {
                    ImageResize.ScaleAndCrop(Image.FromFile($@"{_env.WebRootPath.ToString()}\ProductImage\{file4}"), width4, height4, TargetSpot.Center)
                        .Save($"{_env.WebRootPath.ToString()}\\newProductImage\\{newFile4}");
                }
                <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                    <!-- Block3 -->
                    <div class="block3">

                        <a href="/Home/productDetails/@obj3.Id" class="block3-img dis-block hov-img-zoom">
                            <img src="~/newProductImage/@newFile4" alt="IMG-BLOG">
                        </a>

                        <div class="block3-txt p-t-14">
                            <h4 class="p-b-7">
                                <a href="/Home/productDetails/@obj3.Id" class="m-text11">
                                    @obj3.EnglishName
                                </a>
                            </h4>

                            <span class="s-text6">Price</span> <span class="s-text7"> @obj3.Price</span>



                        </div>
                    </div>
                </div>
            }
            @*<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                     Block3
                    <div class="block3">
                        <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                            <img src="~/templete/images/blog-02.jpg" alt="IMG-BLOG">
                        </a>

                        <div class="block3-txt p-t-14">
                            <h4 class="p-b-7">
                                <a href="blog-detail.html" class="m-text11">
                                    The White Sneakers Nearly Every Fashion Girls Own
                                </a>
                            </h4>

                            <span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
                            <span class="s-text6">on</span> <span class="s-text7">July 18, 2017</span>

                            <p class="s-text8 p-t-16">
                                Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit ame
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                     Block3
                    <div class="block3">
                        <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
                            <img src="~/templete/images/blog-03.jpg" alt="IMG-BLOG">
                        </a>

                        <div class="block3-txt p-t-14">
                            <h4 class="p-b-7">
                                <a href="blog-detail.html" class="m-text11">
                                    New York SS 2018 Street Style: Annina Mislin
                                </a>
                            </h4>

                            <span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
                            <span class="s-text6">on</span> <span class="s-text7">July 2, 2017</span>

                            <p class="s-text8 p-t-16">
                                Proin nec vehicula lorem, a efficitur ex. Nam vehicula nulla vel erat tincidunt, sed hendrerit ligula porttitor. Fusce sit amet maximus nunc
                            </p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>

<!-- Instagram -->
<section class="instagram p-t-20">
    <div class="sec-title p-b-52 p-l-15 p-r-15">
        <h3 class="m-text5 t-center">
            @@ follow us on FaceBook
        </h3>
    </div>

    @*<div class="flex-w">
             Block4
            <div class="block4 wrap-pic-w">
                <img src="~/templete/images/gallery-03.jpg" alt="IMG-INSTAGRAM">

                <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
                    <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
                        <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
                        <span class="p-t-2">39</span>
                    </span>

                    <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
                        <p class="s-text10 m-b-15 h-size1 of-hidden">
                            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
                        </p>

                        <span class="s-text9">
                            Photo by @@nancyward
                        </span>
                    </div>
                </a>
            </div>

             Block4
            <div class="block4 wrap-pic-w">
                <img src="~/templete/images/gallery-07.jpg" alt="IMG-INSTAGRAM">

                <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
                    <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
                        <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
                        <span class="p-t-2">39</span>
                   </span>

                    <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
                        <p class="s-text10 m-b-15 h-size1 of-hidden">
                            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
                        </p>

                        <span class="s-text9">
                            Photo by @@nancyward
                        </span>
                    </div>
                </a>
            </div>

             Block4
            <div class="block4 wrap-pic-w">
                <img src="~/templete/images/gallery-09.jpg" alt="IMG-INSTAGRAM">

                <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
                    <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
                        <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
                        <span class="p-t-2">39</span>
                    </span>

                    <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
                        <p class="s-text10 m-b-15 h-size1 of-hidden">
                            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
                        </p>

                        <span class="s-text9">
                            Photo by @@nancyward
                        </span>
                    </div>
                </a>
            </div>

             Block4
            <div class="block4 wrap-pic-w">
                <img src="~/templete/images/gallery-13.jpg" alt="IMG-INSTAGRAM">

                <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
                    <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
                        <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
                        <span class="p-t-2">39</span>
                    </span>

                    <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
                        <p class="s-text10 m-b-15 h-size1 of-hidden">
                            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
                        </p>

                        <span class="s-text9">
                            Photo by @@nancyward
                        </span>
                    </div>
                </a>
            </div>

             Block4
            <div class="block4 wrap-pic-w">
                <img src="~/templete/images/gallery-15.jpg" alt="IMG-INSTAGRAM">

                <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
                    <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
                        <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
                        <span class="p-t-2">39</span>
                    </span>

                    <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
                        <p class="s-text10 m-b-15 h-size1 of-hidden">
                            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
                        </p>

                        <span class="s-text9">
                            Photo by @@nancyward
                        </span>
                    </div>
                </a>
            </div>
        </div>*@
</section>

<!-- Shipping -->
